name: deploy on push
run-name: ${{github.actor}} is testing actions
on: [push]
jobs:
  Explore:
    runs-on: ubuntu-latest
    steps:
      - run: echo "testing"
  deploy-gh:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - run: git branch
      - run: pwd
      - run: ls -a
      - run: mkdir ./docs/deploy
      - run: echo "The branch is ${{ github.ref }} by ${{ github.actor}}" >> ./docs/deploy/info.md
      - run: echo "MY_DATE=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
      - run: echo "${{ env.MY_DATE }}" >> ./docs/deploy/info.md
      - run: apt install python3-mkdocs
      - run: python | mkdocs gh-deploy --force